  .header {
    overflow: hidden;
    background-color: #3d73b0;
    padding: 15px 20px;
  }
  
  .header-logo {
    color: rgb(255, 255, 255);
    padding-top: 0px;
    font-size: 32px;
    float: left;
  }

  .header-shadow {
    box-shadow: 0 5px 10px rgba(36, 33, 33, 0.479);
  }

  div.scrollmenu {
    background-color:unset;
    overflow: auto;
    color: white;
    white-space: nowrap;
    margin: auto auto auto 200px;
  }
  
  div.actionmenu {
    background-color:unset;
    position: absolute;
    right: 15px;
    top: 17px;
  }

  div a {
    display: inline-block;
    color: #dce3ef;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    margin: unset;
    font-size: 22px;
  }

  a:hover {
    color: white;
  }