.button {
  background-color:unset;
  color: white;
  border: none;
  font-size: 13pt;
  cursor: pointer;
  display: flex;
}

.button-delete{
  position: relative;
  display: flex;
  bottom: 50px;
  right: 5px;
}

.button-edit{
  display: inline-flex;
  position: relative;
  bottom: 50px;
  right: 5px;
}