.list{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 7.5%;
}

.list-element div{
    min-height: 20px;
}

.list-element-attachment{
    color:cornflowerblue;
    font-size: 15pt;
}

.list-element-description{
    color: rgb(131, 126, 126);
    display: inline-block;
    margin: 7px auto;
    padding-left: 5px;
    bottom: 5px;
    position: relative;
}

.list-element-title{
    padding-right: 15px;
    padding-left: 5px;
    font: bolder;
    font-size: 15pt;
    color: black;
    display:inline-block;
    margin: 7px auto;
}

li {
    border-bottom: 2px solid #3d73b0;
}

li:hover {
    background-color: #b7cfef;
    color: white;
}

ul {
    list-style-type: none;
}

.actionButton{
    position: inherit;
    display: inline-flex;
    padding-left: 86%;
    padding-bottom: 1%;
}
