.button1 {
  background-color:unset;
  color: white;
  border: none;
  font-size: 13pt;
  padding-top: 12px;
  cursor: pointer;
}

.button2{
  position: relative;
  bottom: 20px;
  right: 5px;
}

.button3{
  text-align: left;
  position: relative;
  left: 83%;
  bottom: 20px;
}