.list-element-title {
  padding-right: 15px;
  padding-left: 5px;
  font: bolder;
  font-size: 15pt;
  color: black;
  display: inline-flex;
  margin: 7px auto;
}
.list-element-category {
  color: cornflowerblue;
  font-size: 15pt;
  max-width: 80%;
  padding-left: 5px;
}
